<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
    -->
    <add name="core"             connectionString="$DbNameCore" />
    <add name="master"           connectionString="$DbNameMaster" />
    <add name="web"              connectionString="$DbNameWeb" />
    <add name="session"          connectionString="$DbNameSessions" />
    <add name="Context"          connectionString="$DbName" providerName="System.Data.SqlClient"/>

    <add name="analytics"        connectionString="$DbNameAnalytics" />
    <add name="tracking.live"    connectionString="$DbNameTracking_Live" />
    <add name="tracking.history" connectionString="$DbNameTracking_History" />
    <add name="tracking.contact" connectionString="$DbNameTracking_Contact" />

    <add name="reporting"        connectionString="$DbNameAnalytics" />
    <add name="reporting.apikey" connectionString="" />
</connectionStrings>